
html {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: 5vh auto 78vh auto;
}
.App-header { grid-area: 1 / 1 / span 1 / span 3; }
.App-navigation { grid-area: 2 / 1 / span 1 / span 3; }
.App-main { grid-area: 3 / 1 / span 1 / span 3; }
.App-footer { grid-area: 4 / 1 / span 1 / span 3; }
/* 
@media only screen and (max-width: 550px) {
  .App {
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
  }
  .App-main { grid-area: 1 / 1 / span 1 / span 3; }
  .App-header { grid-area: 3 / 1 / span 1 / span 3; }
  .App-aside { grid-area: 3 / 1 / span 1 / span 3; visibility: collapse;}
  .App-footer { grid-area: 2 / 1 / span 1 / span 3; }
} */

/* ---------------------------- */

.App {
  text-align: center;
}

.App-header {
  background-color: #efefef;
  color: #282828;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-navigation {
  background-color: #afafaf;
}
.App-navigation ul {
  display:flex;
  align-items: center;
  justify-content: center;
}
.App-navigation li {
  display: inline;
  margin:10px;
}

.App-footer {
  background-color: #282828;
  color: white;

  padding: 5px;
  align-items: center;

  font-size: 0.75rem;
}

.App-aside {
  background-color: #efefef;
}

.App-main {
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80%;
  width: 81%;
  margin:15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

